body {
    width: 400px;
    height: 600px;
}
#organizeButton {
    color: #fff; /* change the color of the text */
    background-color: #4CAF50; /* change the color of the button */
    border: none; /* remove the default border */
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; /* add transition effect for the hover */
    cursor: pointer;
    border-radius: 12px; /* make the corners round */
    margin-bottom: 20px; /* add space below the button */
}

#organizeButton:hover {
    background-color: #45a049; /* change the color of the button when hovered */
    color: white;
}
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%; /* Circular shape */
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
ul {
    list-style-type: none;
    padding: 5px;
}
.favicon {
    margin-right: 5px;
}
.link-wrapper {
    display: flex;
    align-items: center;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.delete-btn {
    width: 20px;  /* adjust as needed */
    height: 20px;  /* adjust as needed */
    margin-left: auto;  /* push button to the end of the container */
    background-color: #f44336;  /* red color, adjust as needed */
    border: none;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
